.fondo{
    width: 1300px;
    height: 800px;
    background-image: url("fondo de madera.jpg");
    display: flex;
    flex-direction: column;
    
}

h1{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.table{
    width: 900px;
    height: 400px;
    align-self: center;
    
    
    
}
.variety{
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;

}
.colors{
    width: 900px;
    height: 100px;
    background-color: green;
    display: flex;
    justify-content: center;
}

.text{
    align-self: center;
        
}
.text1{
    font-size: 30px;
    font-weight: bold;
}
.left_side{
    width: 450px;
    height: 300px;
    
    display: flex;
    justify-content: space-around;
    
}
.first_column{
    width: 150px;
    height: 300px;
    
}
.black1{
    width: 150px;
    height: 100px;
    background-color: black;
    display: flex;
}
.purple{
    width: 150px;
    height: 100px;
    background-color: purple;
    display: flex;
}
.olive1{
    width: 150px;
    height: 100px;
    background-color: olive;
    display: flex;
}
.second_column{
    width: 150px;
    height: 300px;
    
}
.teal{
    width: 150px;
    height: 100px;
    background-color: teal;
    display: flex;
}
.yellow{
    width: 150px;
    height: 100px;
    background-color: yellow;
    display: flex;
}
.red1{
    width: 150px;
    height: 100px;
    background-color: red;
    display: flex;
}
.third_column{
    width: 150px;
    height: 300px;
    
}
.blue{
    width: 150px;
    height: 100px;
    background-color: blue;
    display: flex;
}
.olive2{
    width: 150px;
    height: 100px;
    background-color: olive;
    display: flex;
}
.fuchsia{
    width: 150px;
    height: 100px;
    background-color: fuchsia;
    display: flex;
}
.right_side{
    width: 450px;
    height: 300px;
    background-color: palevioletred;
    
}
.first_row{
    width: 450px;
    height: 100px;
    display: flex;
    
}
.navy{
    width: 125px;
    height: 100px;
    background-color: navy;
    display: flex;
}
.lime{
    width: 200px;
    height: 100px;
    background-color: lime;
    display: flex;
}
.white{
    width: 125px;
    height: 100px;
    background-color: white;
    display: flex;
}
.second_row{
    width: 450px;
    height: 100px;
    display: flex;
}
.red2{
    width: 125px;
    height: 100px;
    background-color: red;
    display: flex;
}
.black2{
    width: 200px;
    height: 100px;
    background-color: black;
    display: flex;
}
.gray{
    width: 125px;
    height: 100px;
    background-color: gray;
    display: flex;
}
.third_row{
    width: 450px;
    height: 100px;
    
    
}
.green{
    width: 450px;
    height: 100px;
    background-color: green;
    display: flex; 
}
.lista_colores1{
    position: relative;
    width: 950px;
    height: 80px;px ;
    left: 170px;
    display: flex;
    justify-content: space-around;
        
}

.black_text{  
    width: 50px;
    height: 40px;  
    color: black;
    font-size: 40px;
}
.teal_text{  
    width: 50px;
    height: 40px;  
    color: teal;
    font-size: 40px;
}
.blue_text{  
    width: 50px;
    height: 40px;  
    color: blue;
    font-size: 40px;
}
.navy_text{  
    width: 50px;
    height: 40px;  
    color: navy;
    font-size: 40px;
}
.lime_text{  
    width: 50px;
    height: 40px;  
    color: lime;
    font-size: 40px;
}
.white_text{  
    width: 50px;
    height: 40px;  
    color: white;
    font-size: 40px;
}
.purple_text{  
    width:50px;
    height: 40px;  
    color: purple;
    font-size: 40px;
}
.yellow_text{  
    width: 50px;
    height: 40px;  
    color: yellow;
    font-size: 40px;
}
.lista_colores2{
    position: relative;
    width: 950px;
    height:80px ;
    left: 170px;
    bottom: 30px;
    display: flex;
    justify-content: space-around;
        
}
.olive_text{  
    width: 50px;
    height: 40px;  
    color: olive;
    font-size: 40px;
}
.red_text{  
    width: 50px;
    height: 40px;  
    color: red;
    font-size: 40px;
}
.marron_text{  
    width: 50px;
    height: 40px;  
    color: marron;
    font-size: 40px;
}
.gray_text{  
    width: 50px;
    height: 40px;  
    color: gray;
    font-size: 40px;
}
.fuchsia_text{  
    width: 50px;
    height: 40px;  
    color: fuchsia;
    font-size: 40px;
}
.green_text{  
    width: 50px;
    height: 40px;  
    color: green;
    font-size: 40px;
}
.aqua_text{  
    width: 50px;
    height: 40px;  
    color: aqua;
    font-size: 40px;
}
.silver_text{  
    width: 50px;
    height: 40px;  
    color: silver;
    font-size: 40px;
}
