.Bob_Esponja{
    border: 4px solid black;
    width: 200px;
    height: 300px;
}
    
body{
        display: flex;
        justify-content: center;
    }
.cara {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #f5ee31;
    width: 200px;
    height: 195px;

}

.circulo_grande{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: orange;
    top: 156px;
    right: 30px;


}
.circulo_mediano1,
.circulo_mediano2,
.circulo_mediano3 {
    position: relative;    
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: orange;
    
}

.circulo_mediano1{
    left: -70px;
    
}

.circulo_mediano2{
    top: 165px;
    left: 40px;
}
.circulo_mediano3{
    top: 130px;
    left: 65px;
    
}

.circulo_pequeño{

    position: relative;    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: orange;
    left: 30px;
    top: 50px;
    
}

.cara_interior{
    position: absolute;
    width: 150px;
    height: 146.25px;    
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cara_interior_superior{

    width: 150px;
    height: 73.12;
    
    display: flex;
    justify-content: center;
    

}
.ojo_izdo{

    width: 74px;
    height: 74px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -5px;


}

.iris_izdo{

    width: 36.75px;
    height: 36.56px;
    border-radius: 50%;
    background-color: #00aeef;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pupila_izda{

    width: 18.37px;
    height: 18.28px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;
    

}

.pestaña1,
.pestaña2,
.pestaña3{
    position: relative;
    width: 0px;
    height: 15px;
    border: 1px solid black;
    margin-bottom: 2px;
    background-color: black;
    
    
}



.pestaña1{

    left: -35px;
    top: -41px;
    transform: rotate(-45deg);

}

.pestaña2{

    left: -20px;
    top: -45px;
}

.pestaña3{

    left: -2px;
    top: -41px;
    transform: rotate(45deg);

}



.ojo_drcho{

    width: 74px;
    height: 74px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;

}

.iris_drcho{

    width: 36.75px;
    height: 36.56px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #00aeef;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

.pupila_drcho{

    width: 18.37px;
    height: 18.28px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;

}

.nariz{

width: 10px;
height: 23px;
background-color: #f5ee31;
align-self: flex-end;
position: absolute;
border-radius: 80%;
border: 4px solid black;


border-bottom: 3px solid transparent;


}

.cara_interior_inferior{

    width: 150px;
    height: 73.12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    

}

.boca{

    
    width: 127.5px;
    height: 39.56px;
    border-radius: 50%;
    border-bottom: 4px solid black;
    margin: auto;   
    margin-bottom: -5px;        
       
    }

/*.dentadura {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-top:15px;
}

.diente {
    width: 10px;
    height: 12px;
    background: white;
    border: 2px solid black;
    
}*/

.dentadura{
    width: 50px;
    height: 20px;
    display: flex;
    margin-left: 50px;
    margin-bottom: 0.70cm;
                
}

.diente{

    width: 10px;
    height: 12px;
    background-color: white;
    border: 2.5px solid black;
    margin: auto;
    

}
.mofletes{

    width: 150px;
    height: 21.93px;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: -1cm;
    margin-top: 2mm;

}

.moflete1{

    width: 22.5px;
    height: 23.93px;
    border-radius: 20px;
    border-top: 4px solid orange;

}

.moflete2{

    width: 22.5px;
    height: 23.93px;
    border-radius: 20px;
    border-top: 4px solid orange;   

}


.cuerpo{
    width: 200px;
    height: 105px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;  
       
}
.camisa{
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    width: 200px;
    height: 53px;
    display: flex;
    
    
}
.cuello1{
   position: relative;
    height: 30px;
    border: 1.5px solid black;
    background-color: black;
    transform: rotate(-52deg);
    bottom: 7px;
    left: -22px;
}
.cuello2{
    position: relative;
     height: 24px;
     border: 1.5px solid black;
     background-color: black;
     transform: rotate(35deg);
     bottom: 4px;
     left: -6px;
 }
 .cuello4{
    position: relative;
     height: 30px;
     border: 1.5px solid black;
     background-color: black;
     transform: rotate(52deg);
     bottom: 7px;
     left: 90px;
 }
 .cuello3{
     position: relative;
      height: 24px;
      border: 1.5px solid black;
      background-color: black;
      transform: rotate(-35deg);
      bottom: 4px;
      left: 73px;
  }

/*.nudo{

    position: relative;
    width: 45px;
    height: 45px;
    border: 2px solid black;
    background-color: red;
    transform: rotate(45deg);
    left: 75px;
    bottom: 30px;

}*/
.nudo{
    position: relative;
    width: 0px;
    height: 0px;
    left: 69px;
    bottom: 1px;
    border: 2px solid black;
    border-right: 30px solid transparent;
    border-top: 25px solid red;
    border-left: 30px solid transparent;
    border-bottom: transparent;
    justify-self: center;
}

/*.cuellos{
    position: absolute;
    width: 200px;
    height: 25px;
    display: flex;
    

}

.cuello{
    position: relative;
    width: 45px;
    height: 30px;
    border: 2px solid black;
    transform: rotate(45deg);
    bottom: 30px;
    justify-items: space-around;
    
    
    

}*/

.pantalon{
    width: 200px;
    height: 49px;
    background-color: #8d501c;
    display: flex;
    justify-content: space-around;
    
}



.cinto{
    position: absolute;
    width:200px ;
    height:50px ;

    display: flex;
    justify-content: space-around;

}

.cinturon{

    width: 25px;
    height: 4px;
    border: 2px solid black;
    background-color: black;
    align-self: center;

}

.corbata{
    position: relative;
    width: 55px;
    height: 55px;
    border: 2px solid black;
    
    background-color: red;
    bottom: 15px;
    right: 1px;
    transform: rotate(45deg);
    
}
