.Bob_Esponja{
    border: 4px solid black;
    width: 200px;
    height: 300px;
    overflow: hidden;
}
    
body{
        display: flex;
        justify-content: center;
    }
.face {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #f5ee31;
    width: 200px;
    height: 195px;
    overflow: hidden;

}

.big_circle{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #c0a402;
    top: 156px;
    right: 30px;


}
.medium_circle1,
.medium_circle2,
.medium_circle3 {
    position: relative;    
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #c0a402;
    
}

.medium_circle1{
    left: -70px;
    
}

.medium_circle2{
    top: 165px;
    left: 40px;
}
.medium_circle3{
    top: 130px;
    left: 65px;
    overflow: hidden;
    
}

.small_circle{

    position: relative;    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c0a402;
    left: 30px;
    top: 50px;
    
}

.inner_face{
    position: absolute;
    width: 150px;
    height: 146.25px;    
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.inner_upper_face{

    width: 150px;
    height: 73.12;
    
    display: flex;
    justify-content: center;
    

}
.left_eye{

    width: 74px;
    height: 74px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -5px;


}

.left_iris{

    width: 36.75px;
    height: 36.56px;
    border-radius: 50%;
    background-color: #00aeef;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.left_pupil{

    width: 18.37px;
    height: 18.28px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;
    

}

.eyelash1,
.eyelash2,
.eyelash3{
    position: relative;
    width: 0px;
    height: 15px;
    border: 1px solid black;
    margin-bottom: 2px;
    background-color: black;
    
    
}



.eyelash1{

    left: -35px;
    top: -41px;
    transform: rotate(-45deg);

}

.eyelash2{

    left: -20px;
    top: -45px;
}

.eyelash3{

    left: -2px;
    top: -41px;
    transform: rotate(45deg);

}



.right_eye{

    width: 74px;
    height: 74px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right_iris{

    width: 36.75px;
    height: 36.56px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #00aeef;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

.right_pupil{

    width: 18.37px;
    height: 18.28px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;

}

.nose{

width: 10px;
height: 23px;
background-color: #f5ee31;
align-self: flex-end;
position: absolute;
border-radius: 80%;
border: 4px solid black;


border-bottom: 3px solid transparent;


}

.lower_inner_face{

    width: 150px;
    height: 73.12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    

}

.mouth{

    
    width: 127.5px;
    height: 39.56px;
    border-radius: 50%;
    border-bottom: 4px solid black;
    margin: auto;   
    margin-bottom: -5px;        
       
    }

.teeth{
    width: 50px;
    height: 20px;
    display: flex;
    margin-left: 50px;
    margin-bottom: 0.70cm;
                
}

.tooth{

    width: 10px;
    height: 12px;
    background-color: white;
    border: 2.5px solid black;
    margin: auto;
    

}
.cheeks{

    width: 150px;
    height: 21.93px;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: -1cm;
    margin-top: 2mm;

}

.cheek1{

    width: 22.5px;
    height: 23.93px;
    border-radius: 20px;
    border-top: 4px solid orange;

}

.cheek2{

    width: 22.5px;
    height: 23.93px;
    border-radius: 20px;
    border-top: 4px solid orange;   

}


.body{
    width: 200px;
    height: 105px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;  
       
}
.shirt{
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    width: 200px;
    height: 53px;
    display: flex;
    overflow: hidden;
    
}
.collar1{
   position: relative;
    height: 30px;
    border: 1.5px solid black;
    background-color: black;
    transform: rotate(-52deg);
    bottom: 7px;
    left: -8px;
}
.collar2{
    position: relative;
     height: 24px;
     border: 1.5px solid black;
     background-color: black;
     transform: rotate(35deg);
     bottom: 4px;
     left: 9px;
 }
 .collar3{
    position: relative;
     height: 24px;
     border: 1.5px solid black;
     background-color: black;
     transform: rotate(-35deg);
     bottom: 4px;
     left: 82px;
 }
 .collar4{
    position: relative;
     height: 30px;
     border: 1.5px solid black;
     background-color: black;
     transform: rotate(52deg);
     bottom: 7px;
     left: 98px;
 }
 

.knot{

    position: relative;
    width: 39px;
    height: 39px;
    border: 4px solid black;
    background-color: red;
    transform: rotate(45deg);
    left: 76px;
    bottom: 30px;
    
}




.throusers{
    width: 200px;
    height: 49px;
    background-color: #8d501c;
    display: flex;
    justify-content: space-around;
     
}



.belts{
    position: absolute;
    width:200px ;
    height:50px ;

    display: flex;
    justify-content: space-around;

}

.belt{

    width: 25px;
    height: 4px;
    border: 2px solid black;
    background-color: black;
    align-self: center;

}

.tie{
    position: relative;
    width: 55px;
    height: 55px;
    border: 4px solid black;
    
    background-color: red;
    bottom: 15px;
    right: 1px;
    transform: rotate(45deg);
    
}
