.Bob_Esponja{
    border: 2px solid black;
    width: 200px;
    height: 300px;
}
    
body{
        display: flex;
        justify-content: center;
    }
.cara {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #f5ee31;
    width: 100%;
    height: 65%;

}

.cara_interior{
    width: 75%;
    height: 75%;    
    background-color: blue;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cara_interior_superior{

    width: 100%;
    height: 50%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    

}
.ojo_izdo{

    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -5px;


}

.iris_izdo{

    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pupila_izda{

    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: black;

}

.pestaña1,
.pestaña2,
.pestaña3{
    position: relative;
    width: 0px;
    height: 15px;
    border: 1px solid black;
    margin-bottom: 2px;
    background-color: black;
    
    
}



.pestaña1{

    left: -35px;
    top: -40px;
    transform: rotate(-45deg);

}

.pestaña2{

    left: -20px;
    top: -45px;
}

.pestaña3{

    left: -2px;
    top: -40px;
    transform: rotate(45deg);

}



.ojo_drcho{

    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;

}

.iris_drcho{

    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

.pupila_drcho{

    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: black;

}

.nariz{

width: 10px;
height: 20px;
background-color: #f5ee31;
align-self: flex-end;
position: absolute;
border-radius: 80%;
border: 2px solid black;


border-bottom: 2px solid transparent;


}

.cara_interior_inferior{

    width: 100%;
    height: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    

}

.boca{

    
    width: 85%;
    height: 50%;
    border-radius: 50%;
    border-bottom: 3px solid black;
    margin: auto;   
    margin-bottom: -5px;        
       
    }

/*.dentadura {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-top:15px;
}

.diente {
    width: 10px;
    height: 12px;
    background: white;
    border: 2px solid black;
    
}*/

.dentadura{
    width: 50px;
    height: 20px;
    display: flex;
    margin-left: 50px;
    margin-bottom: 0.70cm;
       
     
                
}

.diente{

    width: 10px;
    height: 12px;
    background-color: white;
    border: 2px solid black;
    margin: auto;
       
    
}
.mofletes{

    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: -1cm;
    margin-top: 2mm;

}

.moflete1{

    width: 15%;
    height: 100%;
    border-radius: 20px;
    border-top: 2px solid orange;

}

.moflete2{

    width: 15%;
    height: 100%;
    border-radius: 20px;
    border-top: 2px solid orange;
    
    

}


.cuerpo{
    width: 100%;
    height: 35%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;  
       
}
.camisa{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    height: 50%;
}
.pantalon{
    width: 100%;
    height: 50%;
    background-color: #8d501c;
}
